@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  body {
    background-image: linear-gradient(
        to right bottom,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1)
      ),
      url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
  .cta-div {
    background-image: linear-gradient(
        to right bottom,
        rgba(2, 75, 120, 0.1),
        rgba(2, 75, 120, 0.1)
      ),
      url(./images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
  .field {
    @apply flex flex-col border-b-2 gap-2;
  }
  .lab {
    @apply text-slate-400;
  }
  .var-1 {
    @apply fixed flex w-full bottom-0 gap-5 justify-center items-center py-5 px-2 bg-orange-300/80;
  }
  .var-2 {
    @apply fixed flex w-full bottom-0 gap-5 justify-center items-center py-5 px-2 bg-green-300/80;
  }
}
